/* standard styles */
body {
  overflow: hidden;
  overflow-x: hidden!important;
}
.hidden {
  display: none;
}
.content {
  background-color: white;
  min-height:100vh;
  text-align:center;
  padding:30px;
}
.capitalize {
  text-transform: capitalize;
}

/* splash screen */
.splash {
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.splash img {
  width: 100vmin;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* content */
#categories-dropdown {
  text-transform: capitalize;
}


/* categories section */
.category .card {
  margin-bottom: 20px;
}
.category .card .card-img-top {
  padding: 5px;
}
.category .card .card-img-top .img {
  width: 100%;
  padding-top: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.category .card .regular {
  text-decoration: line-through;
  margin-right: 10px;
}
.category .card .brand-logo {
  height: 30px;
  margin-bottom: 10px;
}
.category .card a {
  text-decoration: none;
}
#categories {
  padding-top: 16px;
}


.navbar-brand img {
  position:absolute;
  height:50px;
  width:50px;
  top:3px;
}

/* app banner */
.app-banner{
  height: 100px;
  padding: 10px;
  position: relative;
  text-align: center;
}
.app-banner button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.app-banner img {
  height: 70px;
  position: absolute;
  top:15px;
  left:10px;
  filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.25));
}
.app-banner p {
  margin-bottom: 10px;
  height: 24px;
  overflow: hidden;
}


/* cookies banner */
.cookies-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  width: 100%;
  z-index: 10;
}
.cookies-banner p {
  font-weight: 300;
}
.cookies-banner b {
  font-weight: 500;
}
.cookies-banner a {
  margin-right: 20px;
}



.popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  left: 0;
  padding: 30px;
  display: none;
}

.popup .head {
  text-align: center;
}

.popup .popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
}



/* remove select gloss on ios */
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 98% 50%;
  /*
  background-image:url(/down_arrow.gif);
  background-repeat:no-repeat;
  background-position:calc(100% - 10px);
  */
}
select::-ms-expand{
  display:none;
}
select, select option {
  text-transform: capitalize;
}




/* footer */
.footer {
  height:165px;
  padding:20px;
}
.footer .contact-link {
  float:right;
}
